:root {
  --primary-color: #f2c9c3;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  color: #212529;
}

h1 {
  font-size: 96px;
  margin: 0;
}
h2 {
  font-size: 24px;
  margin: 0;
  opacity: 0.7;
}
h3 {
  font-size: 48px;
  margin: 0;
}
.wrapper {
  margin-top: 100px;
}
.intro {
  margin: 30px 10px;
  font-size: 18px;
  line-height: 1.5;
}

.mail {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.mail:hover {
  text-decoration: underline;
}
.back {
  color: var(--primary-color);
}
.back:visited {
  color: var(--primary-color);
}
@media (max-width: 768px) {
  h1 {
    font-size: 68px;
  }
  h2 {
    font-size: 28px;
  }
  .larger-space {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .larger-font-size {
    font-size: 20px;
  }
}
