:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  text-align: center;
  margin: 60px auto;
  max-width: 800px;
}
h1 {
  font-size: 48px;
  margin: 0;
}
h2 {
  font-size: 96px;
  margin: 0;
}
h3 {
  font-size: 24px;
  margin: 0;
}

.link {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.link a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.contact {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.about {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
