:root {
  --primary-color: #f2c9c3;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  color: #212529;
  margin-top: 100px;
}
h1 {
  font-size: 48px;
  margin: 0;
}
h2 {
  font-size: 96px;
  margin: 0;
}
h3 {
  font-size: 24px;
  margin: 0;
  opacity: 0.7;
}

.wrapper {
  margin: 60px auto;
  text-align: center;

  max-width: 800px;
}
.link {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.third-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;

  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
